---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
  <h1>Sobre el proyecto</h1>

  <p>El proyecto SpaceX Launches es una demo de Astro mientras aprendia el framework</p>
</Layout>